body {
  font-family: 'Archivo Narrow', sans-serif;
  color: #775555;
  line-height: 1.6;
  margin: 0;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('../img/header-bg.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 0 20px;
}

.page-header h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 1.2;
}

.page-header p {
  font-size: 1.8em;
}

.page-header .button {
  text-decoration: none;
  font-style: 1.2em;
  color: #462810;
  border: #462810 2px solid;
  padding: 10px 20px;
  border-radius: 10px;
}

.page-header .button:hover {
  border-color: #ff8c1a;
  color: #ff8c1a;
}

.text-sec {
  margin: 0;
}

.text-sec h2 {
  text-align: left;
  margin: 0;
  font-size: 2.8em;
}

.flex-row-reversed {
  display: flex;
  flex-direction: row-reverse;
  height: 600px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  height: 600px;
}

.text-sec p {
  font-size: 1.4em;
}

.text-sec img {
  height: 100%;
  width: 50%;
  flex-basis: 0;
  flex-grow: 1;
}


.text-sec .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  flex-grow: 1;
  flex-basis: 0;
  width: 50%;
  height: 100%;
}

.tech ul {
  padding: 10px 30px;
}

.tech h2 {
  text-align: center;
  font-size: 3.8em;
}

.tech img {
  width: 250px;
  height: 250px;
}

.tech .html-logo path {
  fill: #e34f26;
}

.tech .css-logo path {
  fill: #0079c1;
}


.tech .laravel-logo path {
  fill: #f55247;
}

.tech li figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech li figcaption {
  padding-top: 30px;
  font-size: 2em;
  font-weight: 700;
}

.tech .html-logo figcaption, .tech .css-logo figcaption {
  text-transform: uppercase;
}

.tech ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 50px;
  list-style: none;
}

.tech li {
  display: flex;
  justify-content: center;
}

.services {
  background: url('../img/contact-bg.jpg') 100% no-repeat;
  position: relative;
  z-index: 1;
  background-size:cover;
  color: #ffffff;
}

.services:before{
  display: block;
  position: absolute;
  content: "";
  /* background: rgba(22, 22, 22, 0.7); */
  background: rgba(41, 40, 40, 0.83);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.services h2 {
  margin: 0;
  text-align: center;
  font-size: 2.8em;
  padding: 20px 0;
  margin-left: -80px;
}

.services ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 120px;
  margin: 0 90px;
  list-style: none;
}

.services img {
  width: 90px;
  height: 90px;
}

.services figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services figcaption {
  padding: 30px 0;
  font-size: 1.6em;
  font-weight: 700;
}


.contact ul li figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 250px;
  list-style: none;
  margin: 0;
}

.contact ul li figure img {
  min-width: 50px;
  min-height: 50px;
}

.contact {
  background: #2e2e2e;
  color: #b4b3b6;
}

.contact ul li figure figcaption {
  padding: 10px 20px;
  font-size: 1.4em;
  font-weight: 700;
}

.sign-up {
  background: #2e2e2e;
  color: #ffffff;
  font-size: 2.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-up h2 {
  padding: 15px 15px;
  background: #b3641a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0;
}

.sign-up div {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.sign-up input, .sign-up textarea {
  border-radius: 10px;
  border: 0px;
  height: 40px;
  width: 400px;
  background: #58575a;
  font-size: 0.6em;
  padding: 5px;
  color: #ffffff;
  box-shadow: none;
  margin-top: 40px;
}

.sign-up input::-moz-placeholder, .sign-up textarea::-moz-placeholder {
  color: #e9e9e9;
}

.sign-up input::-webkit-input-placeholder, .sign-up textarea::-webkit-input-placeholder {
  color: #e9e9e9;
 }

 .sign-up input::placeholder, .sign-up textarea::placeholder {
   color: #e9e9e9;
 }

 .sign-up input:focus, .sign-up textarea:focus {
   background: #6e6d70;
   
   outline: none;
 }

.sign-up label {
  visibility: hidden;
}

  .hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
}

.sign-up textarea {
  height: 140px;
  width: 400px;
}

.sign-up button {
  margin: 15px 0;
  text-decoration: none;
  font-style: 18px;
  color: #462810;
  border: #462810 2px solid;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.sign-up button:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.page-footer {
  background: #e9e9e9;
  background-position: bottom;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.page-footer a{
  padding: 10px 10px;
}

.page-footer p {
  padding: 0 20px 0 30px;
  font-size: 1.4em;
  text-align: center;
}


@media (max-width: 1500px) {
.contact ul {
    padding: 15px 5px;
}

.tech li {
  flex-basis: 40%;
}
.services ul {
  padding: 0;
}

}

@media (max-width: 1320px) {
  .text-sec p {
    padding: 0 20px 20px 20px;;
    /* font-size: 22px; */
  }

  .text-sec h2 {
    margin: 12px;
  }

@media (max-width: 1480px) {
.services ul {
  margin: 0 10px;
}

.services h2 {
  margin-left: 0;
}
}



@media (max-width: 1070px) {
  .contact ul li {
    width: 100%;
  }

  .contact ul li figure figcaption {
    /* font-size: 30px; */
  }

  .contact ul li .email {
    margin-left: 60px;
  }

  .contact ul li .address {
    
  }
}

@media (max-width: 1150px) {
  .services ul {
    flex-direction: column;
    flex-wrap: wrap;
  }
}


@media (max-width: 976px) {
  .tech ul {
    justify-content: center;
  }
}

@media (max-width: 920px) {
  .text-sec img {
    display: none;
  }
}

@media (max-width: 670px) {
  .contact ul li figure figcaption {
    /* font-size: 20px; */
  }

  .contact ul li figure {
    margin-left: 0;
  }

  .contact ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact ul li .email {
    
  }

  .contact ul li .address {
   
  }
}

@media (max-width: 570px) {
  .tech h2, .services h2 {
    font-size: 3em;
  }
}

@media (max-width: 540px) {
  .services h2 {
    /* font-size: 35px; */
  }
}

@media (max-width: 500px) {
  .sign-up input, .sign-up textarea {
    width: 300px;
  }
}

@media (max-width: 490px) {
  .services h2 {
    font-size: 2.4em;
    padding: 0 5px;
  }
}

@media (max-width: 460px) {
  .page-footer p {
    /* font-size: 20px; */
  }

  .page-footer img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 470px) {
  .text-sec h2 {
    font-size: 2em;
   
    margin-bottom: 10px;
  }

  .flex-row, .flex-row-reversed {
    height: auto;
  }

  .text-sec p {
    margin: 10px 0;
  }
}

@media (max-width: 430px) {
  .text-sec p {
    /* font-size: 18px; */
  }
}

@media (max-width: 400px) {
  .sign-up input, .sign-up textarea {
    width: 250px;
  }
}

@media (max-width: 372px) {
  .contact ul li figure figcaption {
    font-size: 1.2em;
  }
}